<div class="row">
    <div class="col-2"></div>
    <div class="col-sm-4  p-4">
      <div class="card CardHeight htmlBackgroundColor">
        <div class="card-body">
          <h5 class="card-title dashboard-font">Mock API Data</h5>
          <p class="card-text font-weight">Mock API data in Table view (ag-grid).</p>
          <a href="#" class="btn btn-outline-dark dashboard-btn" routerLink="/Employees">Views</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4  p-4">
      <div class="card CardHeight cssBackgroundColor">
        <div class="card-body">
          <h5 class="card-title dashboard-font">Local storage Data</h5>
          <p class="card-text font-weight">View multiple data from Local storage.</p>
          <a href="#" class="btn btn-outline-dark dashboard-btn" routerLink="/Client">Views</a>
        </div>
      </div>
    </div>
    <div class="col-2"></div>

  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-sm-4  p-4">
      <div class="card CardHeight CardViewBackgroundColor">
        <div class="card-body">
          <h5 class="card-title dashboard-font">Mock API Data in card View</h5>
          <p class="card-text font-weight">Mock API data in card View.</p>
          <a href="#" class="btn btn-outline-dark dashboard-btn" routerLink="/CardView">Views</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4  p-4">
      <div class="card CardHeight DynamicCardBackgroundColor">
        <div class="card-body">
          <h5 class="card-title dashboard-font">Dynamicm card View</h5>
          <p class="card-text font-weight">you can create card or form on click of button.</p>
          <a href="#" class="btn btn-outline-dark dashboard-btn" routerLink="/DynamicCard">Views</a>
        </div>
      </div>
    </div>
  </div>